@import './styles/fonts.css';

:root {
  /* Цвета */
  --color-red: #92241F; 
  --color-yellow: #F7C90E;
  --color-light-blue: #05B9BE;
  --color-blue: #1C556E;
  --color-green:#a3c619;
  --color-purple: #887cb9;
  --color-light-pink: #ec6ea6;
  --color-dark-pink: #ea4e75;
  --color-orange: #f7a30d;
  
  --color-grey: #D9D9D9;
  --color-white: #ffffff;
  --color-black: #000000;
 

  /* Шрифты */
  --font-family-base: 'PF BeauSans Pro', sans-serif;
  
  /* Можно даже определить переменные для конкретных начертаний, если хотите */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;   /* Bbook */
  --font-weight-bold: 700;
  --font-weight-black: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; 
}


body {
    /* Базовый шрифт для всего приложения */
    font-family: 'PF BeauSans Pro', sans-serif;
    font-weight: 400;        /* Regular */
    font-size: 16px;         
    line-height: 1.5;        
    color: var(--color-black) 
}